/**
* @author asus
* @date 2021/4/5 11:11
*/
.whmk-autocomplete-list {
  background-color: #fff;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.whmk-autocomplete-list {
  list-style: none;
  padding: 0;
}
.whmk-autocomplete-option {
  margin: 0;
  cursor: pointer;
  line-height: 22px;
  padding: $input-padding-x $input-padding-y;
}
.whmk-autocomplete-hover-option {
  background-color: #f1f1f1;
}
.whmk-autocomplete-selected-option {
  color: $primary;
  background-color: #e9f4ff;
  &:hover{
    background-color: #e9f4ff;
  }
}
